body {
    background-color: black;
    background-size: cover;
    background-position: up-rigth;
    background-repeat: no-repeat;
}

h1, h2 {
    color: hsl(0, 0%, 100%);
    text-size-adjust: 50%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;


}


p {
    margin: 1em 0;
    color:hsl(0, 0%, 100%);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;


}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
    background: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
}